<style>
     .container{width:100%;margin:auto}
     @media (min-width:600px) {.container{width: 80%;}}
     @media (min-width:768px) {.container{width: 60%;}}
     @media (min-width:1024px) {.container{width: 50%;}}
     </style>
     
     <div class="container">
     <h1>Welcome to Singapore, NTU</h1>
     <p><img src="https://www.bing.com/images/search?view=detailV2&ccid=CpT52boD&id=1A865546D141F7C01D145582F3A8F7BB67A7FA41&thid=OIP.CpT52boDVGJcnTuxnYx9PQHaEo&mediaurl=https%3A%2F%2Fth.bing.com%2Fth%2Fid%2FR.0a94f9d9ba0354625c9d3bb19d8c7d3d%3Frik%3DQfqnZ7v3qPOCVQ%26riu%3Dhttp%253a%252f%252fi1.hdslb.com%252fbfs%252farchive%252fb8a4222c0939e5adfb6caa3cae80b9d0470b5bd5.jpg%26ehk%3DW0rvqzTqZkPcJOg8ArZ1zPulImb9bLMECsHS%252flwOxqg%253d%26risl%3D%26pid%3DImgRaw%26r%3D0&exph=1444&expw=2311&q=%e6%96%b0%e5%8a%a0%e5%9d%a1%e7%85%a7%e7%89%87&simid=607991486583240763&form=IRPRST&ck=91505C21816C66E323AD51B41EEAF2B5&selectedindex=3&itb=0&ajaxhist=0&ajaxserp=0&vt=0&sim=11"
       width="300" height="200"></p>
     <form action="/main" method="post">
       <h2>My name is Ah Bao, may I know your name : </h2>
       <input type = "text" name="r" style="width:100px;height:50px">
       <p><input type = "submit" value="Enter" style="width:100px;height:50px"></p>
     </form>
     <form action="/NTU" method="post">
       <p><input type = "submit" value="About NTU" style="width:100px;height:50px"></p>
     </form>
     </div>
