<style>
     .container{width:100%;margin:auto}
     @media (min-width:600px) {.container{width: 80%;}}
     @media (min-width:768px) {.container{width: 60%;}}
     @media (min-width:1024px) {.container{width: 50%;}}
     </style>
     
     <div class="container">
     <h1>Welcome to Singapore, NTU</h1>
     <p><img src="https://www.bing.com/images/search?view=detailV2&ccid=hfrdCvDz&id=22DF8D266DBD71D52FE631D89B9C542E91C1B673&thid=OIP.hfrdCvDzcaafVWp2TKidzAHaEH&mediaurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.85fadd0af0f371a69f556a764ca89dcc%3frik%3dc7bBkS5UnJvYMQ%26riu%3dhttp%253a%252f%252fbeetify.com%252fphoto%252fb%252f1576202863_2dda0431_6.jpg%26ehk%3diIahvrfWLubEJq%252fL%252bjFJrTySioOk7gKwwrGwUXcoPRY%253d%26risl%3d%26pid%3dImgRaw%26r%3d0&exph=1666&expw=3000&q=%e6%96%b0%e5%8a%a0%e5%9d%a1%e7%85%a7%e7%89%87&simid=608018171223419863&FORM=IRPRST&ck=E3D4B12A75BFA3C5D0DB55F0CC6011C8&selectedIndex=3&itb=0&ajaxhist=0&ajaxserp=0"
       width="300" height="200"></p>
     <form action="/main" method="post">
       <h2>My name is Ah Bao, may I know your name : </h2>
       <input type = "text" name="r" style="width:100px;height:50px">
       <p><input type = "submit" value="Enter" style="width:100px;height:50px"></p>
     </form>
     <form action="/NTU" method="post">
       <p><input type = "submit" value="About NTU" style="width:100px;height:50px"></p>
     </form>
     </div>
